html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.navbar li {
    font-size: 18px;
    padding: 10px;  
} 
 
#home {
	background: url(images/photo-1529847556963-9653a9366021\ 1.png) no-repeat center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
}

.navbar-brand {
    color: #E66C28 !important;
    font-family: 'Raleway';
}

.landing-text {
	display: table-cell;
	text-align: center;
    vertical-align: middle;
    font-weight: bold;
}


.landing-text h2 span {
	font-size: 250%;
    font-weight: bolder !important;
    color: #E66C28;
}

.landing-text h2, h4 {
    font-family: 'Raleway';
    color : #FFFFFF;
    font-weight: bolder !important;
    font-size: 180%;
}

.landing-text a {
    color: #E66C28; 
    border: 2px solid #E66C28;
    background-color: black;
}

.landing-text a:hover {
    color: #E66C28; 
    border: 2px solid #E66C28;
    background-color: black;
}

.vertical { 
    border-left: 3px solid white;
    height: 200px;
    left: 10%;    
}

.logo  {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2%;
    bottom: 30%;
}

.fab {
    color: white;
    padding: 15px 0px;
    font-size: 25px;
}

.fa {
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.about {
    position: relative;
    background: url(images/photo-1547357812-4a336d835928-01\ 1.png)
}


.vector img {
    position: relative;
    width: 60% !important;
    bottom: 75%;
    left: -4% !important;
    z-index: 1;
   
}

.weller .about-img {
    z-index: 2;
    position: absolute;
    bottom: 4%;
    
}


.about-img {
    width: 90%;     
}

.about h1{
    color: #FFFFFF;
}

.about h1 span{
    color: #E66C28
}

.about h5 {
    color: #FFFFFF;
    font-family: 'Raleway';
}
.about h6 {
    color: #FFFFFF;
    font-family: 'Raleway';
}

.bio {
    margin-top: 20px;
}

.bio span {
    margin-left: 80px;
}

.job {
    margin-left: 48px !important;
}

.jobs {
    margin-left: 45px !important;
}


.bio a{
    margin-top: 30px;
    color: #E66C28; 
    border: 2px solid #E66C28;
    background-color: black;  
}


.bio a:hover{
    margin-top: 30px;
    color: #E66C28; 
    border: 2px solid #E66C28;
    background-color: black;
   
}

.bio-item {
    margin-top: 30px;
   
}

.achievements {
    background: url(images/photo-1547357812-4a336d835928-01\ 1.png);
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.achievements h5, h6 {
    color: #FFFFFF
}

.achievements span {
    color: #E66C28;
}

.achievements h1 {
    color: #FFFFFF
}

.awards img {
    margin-bottom: 40px;
   
}


.songs {
    background: url(images/photo-1547357812-4a336d835928-01\ 1.png);
}

.songs h1{
    color: #E66C28;
}

.padding {
    padding: 70px 0;
}

.songs img {
    width: 100%
}

.song-item {
    color: #FFFFFF;
    display: flex;
    justify-content: center;  

}

.song-item h5 {
    padding:10px;
}

.all {
    background-color: #E66C28;
    padding: 0 28px;
}

.load a{
    color: #E66C28; 
    border: 2px solid #E66C28;
    background-color: black;

}

.tracks {
    background: url(images/photo-1547357812-4a336d835928-01\ 1.png);
    padding: 70px 0;
}

.tracks h1 {
    color: #FFFFFF;
}

.tracks span {
    color: #E66C28
}

.contact {
    background: url(images/photo-1547357812-4a336d835928-01\ 1.png);
    padding: 70px 0;

}
.contact h1 {
    color: #FFFFFF;
}
.contact span {
    color: #E66C28
}

.songs, .tracks, .contact {
    position: relative;
}

.send a{
    color: #E66C28; 
    border: 2px solid #E66C28;
    background-color: black;

}

@media (max-width: 767px){
  
    .bio-item h6{
        font-size: 15px;
        margin-top: 0 auto;
        display: block;
    }


    .achievements h1{
        font-size: 25px;

    }
   
     .songs img{
        margin: 0 auto !important;
        width: 82%;
        display: block;
        margin-bottom: 20px !important;
    }

    .song-item h5{
        font-size: 12px !important;
    }

    .songs h1{
        font-size: 25px;

    }



    .contact-details {
        margin-top: 40px !important;
    }

    .top {
        display: none;
    }

    .send {
        margin-bottom: 70px;
    }

    .about .logo {
        display: none;
    }

    .tracks img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .tracks h1 {
        font-size: 25px;
    }

    .contact h1{
        font-size: 25px;

    }

    .contact .logo {
        display: none;
    }
    

}

@media (min-width: 768px) {
    .vector img {
        position: relative;
        width: 60% !important;
        bottom: -80% !important;
        left: -4% !important;
        z-index: 1;
       
    }

    .weller .about-img {
        z-index: 2;
        position: absolute;
        bottom: 29%;
        
    }

    .about .logo {
        display: none;
    }
    

}
@media (min-width: 1024px) {
    .vector img {
        position: relative;
        width: 60% !important;
        bottom: -80% !important;
        left: -4% !important;
        z-index: 1;
       
    }

    .weller .about-img {
        z-index: 2;
        position: absolute;
        bottom: 4%;
        
    }

    .about .logo {
        display: none;
    }
    

}